.animalPage-video {
    width: 80%;
}

.animalPage_videoActive {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.animalPage_videoActiveButton {
    position: absolute;
    top: 42%;
    left: 44%;
    width: 69px;
    height: 49px;
    border: none;
    outline: none;
    background-color: #232222d9;
    border-radius: 13px;
    transition: all ease 500ms;
}
.animalPage_videoSliderItemButton{
    position: absolute;
    top: 27%;
    left: 33%;
    width: 69px;
    height: 49px;
    border: none;
    outline: none;
    background-color: #232222d9;
    border-radius: 13px;
    transition: all ease 500ms;
}
.animalPageVideo_sliderItem:hover
.animalPage_videoSliderItemButton{
    background-color: #ff132cd9;
    box-shadow: inset 0 0 33px 10px #e1021c;

}
.animalPage_videoActive:hover .animalPage_videoActiveButton {
    background-color: #ff132cd9;
    box-shadow: inset 0 0 33px 10px #e1021c;
}

.animalPageVideo_sliderWrapper {
    overflow: hidden;
    position: relative;
}

.animalPageVideo_sliderWrapper > div {
    margin-top: 20px;
}

.animalPageVideo_slider {
    display: flex;
    position: relative;
    transition: all ease 500ms;

}

.animalPageVideo_sliderItem {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.animalPageVideo_sliderLeft,.animalPageVideo_sliderRight{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    display: flex;
    align-items: center;
}

.animalPageVideo_sliderLeft,.animalPageVideo_sliderRight{
    mix-blend-mode: plus-lighter;
}
.animalPageVideo_sliderLeft {left: 0}

.animalPageVideo_sliderRight {right: 0;}
.animalPageVideo_sliderRight img{
    transform: rotate(180deg);
    position: relative;
    right: 15px;

}