.map-wrapper {
    width: 100vw;
    height: 40vw;
    margin: 0 auto;
    position: relative;
}

.map__content .btnPrimary {
    margin: 0 auto;
}

.map__pin-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.pin__icon:hover ~ .pin-card>.pin-card__wrapper{
    position: relative;
 z-index: 10;
    display: block;
}
.pin-card__title p {
    margin: 2%;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2px;
    text-shadow: 2px 2px rgb(0 0 0 / 20%);
}

.pin-card__wrapper {
    padding: 10%;
    display: none;
    background: #ead1d1;
    border-radius: 60%;
}

.pin-card__region p b {
    display: block;
}

.pin-icon__svg {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

.pin-icon__image {
    width: 60px;
    padding-top: 20px;
    margin: 0 auto;
    display: block;
}

.pin__wrapper__item {
    position: absolute;
    display: flex;
}

.item__alligator {
    top: 13%;
    left: 16%;
}

.item__gorilla {
    left: 42%;
    top: 32%;
}

.item__panda {
    left: 72%;
    top: 18%;
}

.item__eagle {
    left: 6%;
    top: 10%;
}

.pin__icon {
    width: 100px;
    height: 140px;
    position: relative;
}
.map__content{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}
@media(max-width: 640px){
    .map__pin-wrapper {
        top: -35px;
    }
    .pin__icon{
        width: 55px;
        height: 20px;
    }
    .pin__icon svg{
        width: 100%;
    }
    .pin__icon img{
        width: 50%;
        padding-top: 12px;
    }
}
@media (max-width: 320px) {
    .map{
        height: 300px;
    }
    .map__content{

    }
    .map__pin-wrapper{
       top:-40px
    }
    .pin__icon{
        width: 50px;
        height: 20px;
    }
    .pin__icon svg{
        width: 100%;
    }
    .pin__icon img{
        width: 50%;
        padding-top: 12px;
    }
}