.pay-and-feed {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: var(--gray-color);
}

.pay-and-feed__wrapper {
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    color:var(--gray-text-color)
}
.pay-and-feed__wrapper .pay-and-feed__title{

    color:var(--gray-text-color)
}
.pay-and-feed .btnPrimary {
    margin: 0 auto;
}

.pay-and-feed__circles {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item-circle {
    width: 200px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--gray-text-color);
    border-radius: 50%;
}

.item-circle img {
    width: 50%;
    height: 50%;
}
@media (max-width: 640px) {
    .pay-and-feed {
        height: 650px;
    }
    .pay-and-feed__circles {
        flex-flow: column;
    }
    .item-circle {
        width: 100px;
        height: 100px;
    }
    .payAndFeed-item p{
        display: none;
    }
}