.pay-and-feed {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #616161;
}

.pay-and-feed__wrapper {
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.pay-and-feed .btnPrimary {
    margin: 0 auto;
}

.pay-and-feed__circles {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item-circle {
    width: 200px;
    height: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    border-radius: 50%;
}

.item-circle img {
    width: 50%;
    height: 50%;
}