.start-page-slider {
    --item-height: 203px;
    --item-padding: 50px;
    position: relative;
    left: 30%;
    overflow: hidden;
}
.start-page-slider-slides {
    left:-100px;
}
.start-page__button{
    top:100px;
}
.slider-content_hide{
    left:120px;
}
.slider-content-hide {
    position: relative;
    left: 30%;
}

.start-page-slider-slides {
    height: 400px;
    position: relative;
    left: 200px;
    display: flex;
    align-items: center;
    transition: all ease 500ms;
}

.slider-content_hide {
    position: relative;
    /*left: 200px;*/
    overflow: hidden;
}

.slider-item {
    height: var(--item-height);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: unset;
    filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
    border-radius: 5px;
    transition: all 500ms ease;
}

.start-slider-figure-content {
    width: 90%;
    height: 90%;
    position: relative;
}

.start-slider-figure-content .slider-figcaption__buttons {
    display: flex;
    align-items: end;
    height: 50%;
}

.start-slider-buttonWrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.slider-item-active {
    /* transform: scale(1.4,1.7);*/
    width: 250px;
    height: 300px
}

.slider-item img {
    width: 100%;
    height: 100%;
}

.slider-figcaption {
    margin: 5px;
    position: absolute;
    height: 40%;
    bottom: 0;
    color: white;
    width: 80%;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 0.5rem;
}

.slider-figcaption span {
    letter-spacing: 2px;
    line-height: 10px;
    display: inline-block;
}

.slider__line {
    width: 70%;
    position: absolute;
    top: 48%;
    left: 10%;
    height: 30px;
    transition: all ease 500ms;
}

.dots {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dot-second {
    margin-left: -185px;
}

.dot-last {
    right: -125px;
}

.dots::after {
    content: "";
    margin: 0 6.5px;
    width: calc(100% - 13px);
    position: absolute;
    background-color: #fefefe;
    height: 1px;
}

.dot {
    width: 13px;
    height: 13px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1px solid #fefefe;
    border-radius: 50%;
}

.dot::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fefefe;
}

.dot:nth-child(3) {
    margin: 0 55px;
}

.dot_hide {
    opacity: 0;
}

.slider__button-watch {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    background: transparent;
    border-radius: 50%;
    outline: none;
    background-position: center;
}

@media ( max-width: 1200px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 850px) {
}

@media ( max-width: 640px) {
}

/*@media ( max-width: 320px) {*/
/*    .start-page-slider{*/
/*        left: 0;*/
/*        transform: scale(2);*/
/*    }*/
/*}*/
/*@media screen {*/
/*    .start-page-slider {*/
/*        --item-height: 203px;*/
/*        --item-padding: 50px;*/
/*        position: relative;*/
/*        left: 30%;*/
/*        overflow: hidden;*/
/*        transform: scale(2);*/
/*    }*/
/*}*/

@media (max-width: 1200px) {
    .start-page-slider{
        left: 5%;
    }
    .slider-content-hide{
        left: -25px;
    }
    .start-page-slider-slides{
        left: 207px;
    }
}
@media screen and (max-width: 640px) {
    .start-page-slider {
        left: unset;
    }
    .start-page-slider-slides{
        left: 20px;
    }
}
@media screen and (max-width: 320px) {
    .start-page-slider {
        --item-height: 203px;
        --item-padding: 50px;
        position: relative;
        left: 10%;
        overflow: hidden;
    }
    .start-page-slider-slides {
        left:30px;
    }
    .start-page__button{
        top:100px;
    }
    .slider-content_hide{
        left:0;
    }
}