.start-page {
    width: 100%;
    height: 1100px;
    background-size: cover;
}

.start-page__wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
}

.start-page__content {
    width: 100%;
    padding-left: 13%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    transition: all ease 500ms;
}

.start-page__title {
    height: 310px;
    margin-top: 5vw;
}

.start-page__title p {
    width: 805px;
    height: 208px;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 87px;
    line-height: 104px;
    color: #FFF;
}

.start__range {
    width: 300px;
    margin: 0 auto;
}

.start-page__button {
    margin-top: 6vw;
    top: 25px;
    left: 50px;
}

@media ( max-width: 1200px) {
    /*.start-page {*/
    /*    width: 100%;*/
    /*    padding-bottom: 30px;*/
    /*    overflow: hidden;*/
    /*}*/
    /*.dot-second {*/
    /*    margin-left: -150px;*/
    /*}*/
    /*.start-page__title p {*/
    /*    font-size: 7vw;*/
    /*    font-size: calc(12px + 10vw);*/
    /*    !*min-font-size: 64px;*!*/
    /*    letter-spacing: 2px;*/
    /*}*/
    /*.start-page__content {*/
    /*    padding-left: 0;*/
    /*    margin-bottom: 34px;*/
    /*}*/
    /*.start-page__title p {*/
    /*    width: 73vw;*/
    /*}*/
}

@media (max-width: 1000px) {
    .start-page__title p {
        width: 90vw;
        font-size: 9vw;
    }
}

@media ( max-width: 640px) {
    .start-page {
        padding-bottom: 70px;
    }
    .start-page__title p {
        font-size: 10vw;
        line-height: 11vw;
    }
    .start-page {
        padding-bottom: 34px;
    }
    .start-page__title p {
        font-size: 10vw;
    }
    .start-page__title p {
        width: 95vw;
        font-size: 10vw;
        line-height: 12vw;
        padding-top: 55px;
        letter-spacing: 0;
    }
}

@media ( max-width: 320px) {
    .start-page__wrapper .start-page__title p {
        font-size: 15vw;
        line-height: 18vw;
    }
    .start-page {
        padding-bottom: unset;
        overflow-x: hidden;
        height: 900px;
    }
    .start-page__title p {
        font-size: 15vw;
        letter-spacing: 0.5px;
        line-height: 19vw;
    }
    .start__range {
        width: 220px;
        position: relative;
        top: 50px;
    }
}